:root {
    /* Color Variables */
    --primary-color: #254e70;
    --secondary-color: #d74f4f;
    --background-light: #d9d9d9;
    --background-dark: #121212;/*zohioj ugsun har ungu*/
    --background-darkblur: #121212e8;
    --background-darkblur2: #12121296;
    --background-grey: #12121296;
    --text-light: #d9d9d9;
    --text-dark: #2c3e50;
    --accent-color: #d79423;
    --accent-colorblur: #d7952392;
    --accent-lightcolor: #f1bf2c;
    --border-color: #ddd;
    --button-color: #01ac87;
    /* Font Variables */
    --main-font: 'Manrope', sans-serif;
    --heading-font: 'Manrope', sans-serif;
    /* Padding Variables */
    --container-padding: 1rem 10rem;
    --1200padding: 1rem 8rem;
    --800padding: 1rem 4rem;
}


html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--heading-font);
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: var(--container-padding);
    top: 0;
    background: var(--background-dark);
    font-family: var(--main-font);
}
.nav-menu{
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    width: 10rem;
    height: 5rem;
    text-decoration: none;
    position: absolute;
}
.logo img{
    width: 10rem;
    height: 5rem;
}
.menus{
    display: flex;
    gap: 1.3rem;
    align-items: center;
    position: relative;
}
.menus a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 0.95rem;
    padding: 1rem;
    position: relative;
}
.menus a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: #d79423;
    transition: width 0.3s ease-in-out;
  }
.dropdown {
    position: relative;
}

.menus a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: #d79423;
    transition: width 0.3s ease-in-out;
}
  
.menus a:hover {
    color: #d79423;
}
  
.menus a:hover::after {
    width: 100%;
}
  /* Dropdown menu */
.dropdown-content {
    position: absolute;
    top: 1.5rem;
    left: 0;
    background-color: var(--background-darkblur);
    padding-top: 1.5rem !important;
    padding: 0.5rem 0;
    min-width: 220px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(3px);
    z-index: 999;
}
  .dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  
  /* Dropdown links */
  .dropdown-content a {
    padding: 1.5rem 3rem;
    color: var(--text-light);
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
    white-space: nowrap;
  }
  
  .dropdown-content a:hover {
    background-color: var(--background-dark);
  }

  .language a{
    color: var(--text-light);
    text-decoration: none;
  }
  .language a:hover{
    color: #d79423;
  }



/*Body start*/
.first-section{
    display: flex;
    width: 100%;
    padding: var(--container-padding);
    justify-content: space-between;
}
.slogan{
    width: 60%;
    display: flex;
    padding-top: 6rem;
    font-size: 1.9rem;
    gap: 2rem;
    flex-direction: column;
}
.slogan h1{
    font-weight: 500;
}
.slogan h5{
    padding: 2rem 0;
    font-weight: 400;
}
.serv-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3rem;
    background: var(--button-color);
    border-radius: 8px;
}
.serv-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--background-light);
    width: 20rem;
    height: 3rem;
    padding: 0 2rem;
}
.big_image{
    width: 40%;
}
.why-us p{
    color: var(--text-dark);
    text-align: justify;
    padding-top: 2rem;
}
.why-us{
    display: flex;
    width: 100%;
    padding: var(--container-padding);
    justify-content: space-between;
}
.why1, .why2, .why3, .why4{
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.why-us img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

/*testimonial start*/
/* .testimonial{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    margin: 0 auto;
}

.testimonial__swiper{
    padding-bottom: 0 4rem;
}
.testimonial__swiper .swiper-wrapper {
    width: 100vw !important; 
}
.testimonial__title{
    text-align: center;
    margin-bottom: 3rem;
}
.testimonial__card{
    width: 30rem !important;
    box-shadow: 0 8px 16px hsla(265, 75%, 4%, .1);
    padding: 2rem 1.5rem 3rem;
    border-radius: 1.5rem;
    text-align: center;
}
.testimonial .swiper-slide{
    width: 30rem;
}
.testimonial__img{
    width: 100px;
    border-radius: 4rem;
    margin: 0 auto .5rem;
}
.testimonial__rating{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: .75rem;
}
.testimonial__stars{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    font-size: 1rem;
    color: #d79423;
}
.testimonial__stars i{
    font-size: 1rem;
    color: #d79423;
}
.testimonial__name{
    font-size: 1.5rem;
    padding-bottom: 2rem;
}


.testimonial .swiper-pagination-bullets{
    bottom: 4rem;
}
.testimonial .swiper-pagination-bullet{
    transition: opacity .4s;
}
.testimonial .swiper-button-prev{
    left: calc(50% - 3rem);
}
.testimonial .swiper-button-next{
    right: calc(50% - 3rem);
}
.testimonial .swiper-button-prev::after,
.testimonial .swiper-button-next::after{
    content: '';
}
.testimonial :is(.swiper-button-next, .swiper-button-prev){
    top: initial;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--accent-color);
    color: var(--border-color);
    border-radius: 50%;
    font-size: 1.5rem;
} */
/*testimonial end*/


/*milestone*/
.milestone{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    padding: var(--container-padding);
}
.milestone div{
    width: 30rem;
    height: 40rem;
}
/*milestone end*/